<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.dentscribe.ExtentReport.TestListeners" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>	
		
			<class name="com.dentscribe.testCases.TestCreateUserBuyPaidPlanAndCancelPaidPlan" />
			
		
		
				
			<!-- DONE TEST CASES -->
			<!-- 
			
			<class name="com.dentscribe.testCases.TestAllAppointmentStatuses" />
			
			
			
			
			
			
			
			
			<class name="com.dentscribe.testCases.DS_006_009_010_013_014_015_PracticeInfoTestForExistingSikkaUserAndBuPaidPlan" />
			<class name="com.dentscribe.testCases.DS_011_012_021_FreeTrialAndLogoutTest" />
			<class name="com.dentscribe.testCases.DS_002_ForgotPasswordTest" />
			<class name="com.dentscribe.testCases.DS_001_008_030_LoginSmsVerificationTest" />
			<class name="com.dentscribe.testCases.DS_016_TourPagesTest" />
			<class name="com.dentscribe.testCases.DS_003_SignupPageTest" />
			<class name="com.dentscribe.testCases.DS_004_SignupSmsVerificationTest" />
			<class name="com.dentscribe.testCases.DS_005_SignupAndLoginWithoutPractice" />
			<class name="com.dentscribe.testCases.DS_017_018_SearchPatientAndProfileTest" />
			<class name="com.dentscribe.testCases.DS_019_ChangePassword" />
			<class name="com.dentscribe.testCases.DS_020_022_023_024_028_SettingsPageTest" />
			-->
			
		</classes>
	</test>
</suite>