<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.dentscribe.ExtentReport.TestListeners" />
	</listeners>
	<test thread-count="1" name="Test">
		<classes>
			
			<!-- DONE TEST CASES -->
			<class name="com.dentscribe.testCases.TestCreateUserBuyPaidPlanAndCancelPaidPlan" />
			<class name="com.dentscribe.testCases.TestCreateUserTakeFreePlanAndBuyPaidPlan" />
			<class name="com.dentscribe.testCases.TestAllAppointmentStatuses" />
			<class name="com.dentscribe.testCases.TestSoapReportAndPatientProfilePage" />
			<class name="com.dentscribe.testCases.TestLoginPage" />
			<class name="com.dentscribe.testCases.TestSmsVerificationPageAfterLogin" />
			<class name="com.dentscribe.testCases.TestSignUpPage" />
			<class name="com.dentscribe.testCases.TestSmsVerificationPageAfterSignup" />
			<class name="com.dentscribe.testCases.TestSignupAndLoginWithoutRegisterPractice" />
			<class name="com.dentscribe.testCases.TestTourPages" />
			<class name="com.dentscribe.testCases.TestPatientSearchPage" />
			<class name="com.dentscribe.testCases.TestForgotPasswordPage" />
			<class name="com.dentscribe.testCases.TestSettingsPage" />
			<class name="com.dentscribe.testCases.TestChangePassword" />
			<class name="com.dentscribe.testCases.TestFeedbackAndNewFeedbackPages" />
			<class name="com.dentscribe.testCases.TestRecordingfor10mintsAndGenerateSoapReport" />
			<class name="com.dentscribe.testCases.TestRecordingfor30mintsAndGenerateSoapReport" />
			<class name="com.dentscribe.testCases.TestRecordingfor50mintsAndGenerateSoapReport" />
			
		</classes>
	</test>
</suite>